.mobile-scroll{
    position: relative;
    padding: 70px 0 70px 0;
}
.scroll-full-screen-wrapper{
    width: 50%;
}
.scroll-full-screen{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mobile-mockup-wrapper{
    width: 50%;
}
.mobile-mockup{
    position: sticky;
    top: 150px;
    transform: translateX(30%);
    width: 350px;
    height: 400px;
    box-shadow: var(--shadow);
    border-radius: 46px;
    max-height: 100vh;
    padding: 16px 14px;
}
.mobile-mockup-screen{
    background-color: hsl(120,22%,96%);
    overflow: hidden;
    height: 100%;
    border-radius: inherit;
}
.mobile-screen-img{
    height: 150%;
    object-fit: contain;
}
.screen-heading{
    font-size: 72px;
    font-weight: 700;
    line-height: 70px;
}
.screen-text{
    /* opacity: 0; */
    padding-bottom: 80px;
}
.text-visible{
    opacity: 1;
    transition: 0.75s;
}
.screen-desc{
    font-size: 30px;
    font-weight: 600;
    margin-top: 52px;
}
@media all and (max-width: 1279px) {
    .mobile-scroll{
        padding-bottom: 30px;
    }
    .mobile-mockup{
        width: 270px;
        height: 480px;
        transform: translateX(10%);
    }
}
