.feature1 {
  display: flex;
  justify-content: center;
  background-color: #397572;
  margin: 30px 30px 30px 30px;
}

.feature1__image {
  height: 400px;
  width: 300px;
  margin: 50px 100px;
}

.feature1__title {
  font-size: 30px;
  margin: 50px 100px;
  padding-top: 10px;
}

.feature1__heading {
  font-size: 40px;
  margin: 50px 100px;
  font-weight: 800;
}

.feature1__body {
  font-size: 25px;
  max-width: 70%;
  margin: 50px 100px;
  color: rgb(224, 243, 237);
}
