.max-width{
    max-width: 85%;
    margin: auto;
}
a{
    color: var(--white);
    text-decoration: none;
}
a:hover{
    color: greenyellow;
}
@media all and (max-width: 1279px){    
    .max-width{
        max-width: 90%;
    }
}

@media all and (max-width: 767px){    
    .max-width{
        max-width: 90%;
    }
    .non-mobile{
        display: none !important;
    }
}

@media all and (min-width: 766px){    
    .only-mobile{
        display: none !important;
    }
}

.flex{
    display: flex;
}

.absolute-center{
    justify-content: center;
    align-items: center;
}

.flex-col{
    flex-direction: column;
}
